.news-cards-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 30px;
    padding: 15px;
    list-style: none;
}
.news-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-card {
  background-color: rgba(245, 245, 230, 0.877);
  border-radius: 10px;
    padding: 20px;
  }
  .filter_container {
    display: flex;
    align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
  }

  .filter-link {
    padding: 10px;
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(245, 245, 230, 0.877);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .filter-link.active {
    border: 1px solid green;
  }
  .news-card-content h2 {
    font-size: 1.5rem;
  }
  .news-card-content__date_publick {
    
  }